<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RedChips.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>46FC172B1DBB1401005D22BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46FC173F1DBB1401005D22BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46FC174A1DBB1401005D22BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
